{% extends 'base.html' %}
{% load static %}

<!-- esta parte é substituída no arquivo base -->
{% block titulo %}
    <title>Novo exemplar</title>
{% endblock %}

{% block style %}
<style>
    span {
        position: relative;
    }
    
    span::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 100%;
        left: 200%;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }
    
    span:hover::after {
        opacity: 1;
        visibility: visible;
    }
</style>
{% endblock %}

{% block conteudo %}
    <article>
        <h1>{{ titulo }}</h1>
        <!-- Mensagem para usuário não logado -->
        {% if request.user.is_authenticated %}
            <p>{{ mensagem }}</p>
        {% else %}
            <p>{{ naologado }} <a href="{% url 'login' %}">Clique aqui.</a></p>
        {% endif %}
        <!-- Link para formulário avançado -->
        {% if avancado %}
            <p>{{ avancado }} <a href="{% url 'cadastrar_avancado_colecao' %}">Clique Aqui.</a></p>
        {% endif %}
        <!-- Link para formulário usando csv -->
        {% if csv %}
            <a href="{% url 'cadastrar_csv_colecao' %}">{{ csv }}</a>
        {% endif %}
        {% if modelo %}
        <form method="POST">
            <a href="{% url 'baixa_modelo' %}" download class="btn btn-outline-default">Modelo Darwin Core</a>
        </form>
        {% endif %}
        <form method="POST" class="" enctype="multipart/form-data" autocomplete="off">
        
            {% csrf_token %}
            {% for field in form %}
                <p class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">{{ field.errors.as_text }}</div>
                    {% endif %}
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}:
                    </label>
                    {{ field }}<span data-tooltip="">&#x2754;</span>
                </p>
            {% endfor %}
            {% if request.user.is_authenticated %}
                <button type="submit" class="btn btn-outline-primary">Confirmar</button>
            {% endif %}
            <a href="/listar/colecao/">
                <button type="button" class="btn btn-outline-danger">Cancelar</button>
            </a>
        </form>
        
        <script>
        document.getElementById('dateIdentified').addEventListener('change', function() {
        var dateIdentified = new Date(document.getElementById('dateIdentified').value);
        var dateIdentifiedEnd = document.getElementById('id_dateIdentifiedEnd');
        dateIdentifiedEnd.min = formatDate(dateIdentified);
        });
        function formatDate(date) {
            var month = '' + (date.getMonth() + 1);
            var day = '' + (date.getDate() + 1);
            var year = date.getFullYear();
            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;
            return [year, month, day].join('-');
        }
        </script>
    </article>
{% endblock %}