{% extends 'base.html' %}
{% load static %}

<!-- esta parte é substituída no arquivo base -->
{% block titulo %}
    <title>Lista da Coleção</title>
{% endblock %}

{% block conteudo %}
    <article>
        <form method="POST">
            <a href="{% url 'baixa' %}" download class="btn btn-outline-default">Download</a>
        </form>

        <a class="btn btn-outline-primary" href="{% url 'cadastrar_colecao' %}">Adicionar Novo</a>

        <form class="form-search" autocomplete="off">
            <input type="text" class="span2 search-query" value="" placeholder="Pesquisar">
            <button type="submit" class="btn btn-success mx-2">Pesquisar</button>
        </form>

        <!-- div container é para rolagem no eixo x -->
        <div id="container">
            <table>
                <colgroup>
                    <col class="ctombo">
                    <col class="cgenero">
                    <col class="cfamilia">
                    <col class="coccurenceid">
                    <col class="copcoes">
                </colgroup>
                <caption></caption>
                <thead>
                    <tr>
                        <th id="1" scope="col">Tombo</th>
                        <th id="2" scope="col">Gênero</th>
                        <th id="3" scope="col">Família</th>
                        <th id="4" scope="col">OccurenceID</th>
                        <!-- Menu de opções -->
                        {% if request.user.is_authenticated %}
                        <th id="5" colspan="2" scope="colgroup">Opções</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for colecao in object_list %}
                        <tr>
                            <td>{{ colecao.catalogNumber }}</td>
                            <td>{{ colecao.genus }}</td>
                            <td>{{ colecao.family }}</td>
                            <td>{{ colecao.occurrenceID }}</td>
                            <!-- Botão Editar -->
                            {% if request.user.is_authenticated %}
                            <td class="botao">
                                <form action="{% url 'editar_colecao' colecao.pk %}" method="get">
                                    <button type="submit" class="btn btn-warning">Editar</button>
                                </form>
                            </td>
                            <td class="botao">
                                <form action="{ url 'baixa_etiqueta' }" method="get">
                                    <button href="#" download class="btn btn-outline-default">Etiqueta</a>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                            <tr>
                                <td colspan="50">Sem registro</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <form class="form-search">
            <!-- Ir para a página -->
            <input autocomplete="off" type="text" class="span2 search-query" value="" placeholder="Pagina 1 a {{page_obj.paginator.num_pages}}" name="page">
            <button type="submit" class="btn btn-success mx-2">Pesquisar</button>
        </form>

        <!-- Copiado de resposta no stackoverflow https://stackoverflow.com/questions/30864011/display-only-some-of-the-page-numbers-by-django-pagination-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Primeira</span>
                        </a>
                    </li>
                {% endif %}

                {% for n in page_obj.paginator.page_range %}
                    {% if page_obj.number == n %}
                        <li class="page-item active">
                        <span class="page-link">{{ n }}<span class="sr-only"> (atual)</span></span>
                        </li>
                    {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > 4 and page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                    <li class="page-item"><a class="page-link">...</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                    {% elif page_obj.number >= page_obj.paginator.num_pages|add:'-2' %}
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Última</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </article>

{% endblock %}