{% extends 'base.html' %}

<!-- esta parte é substituída no arquivo base -->
{% block titulo %}
    <title>Laboratório de Acarologia</title>
{% endblock %}

{% block conteudo %}
    <article>
        <h1 id="bemvindo">Bem Vindo!</h1>
    
        <p>Os ácaros são pequenos aracnídeos presentes na maioria dos ambientes habitáveis e ocupando uma diversidade impressionante de nichos ecológicos. Podemos encontrar espécies de ácaros detritívoros, fitófagos, predadores ou que se alimentam de microrganismos. Muitos ácaros são parasitas, por toda a vida ou por apenas um estágio, associados a diversos grupos de vertebrados e invertebrados. Ainda que primariamente terrestres, diversificaram-se secundariamente na água doce e nos oceanos desde o borrifo de ondas até profundidades abissais.</p>
    
        <p>Nosso laboratório tem se dedicado ao estudo dos ácaros, em particular os marinhos e os encontrados no interior de cavernas. Em particular, nos dedicamos à expansão e curadoria da <a href="https://www2.icb.ufmg.br/cct/" target="_blank">Coleção Acarológica do Centro de Coleções Taxonômicas da UFMG</a>. Neste espaço, esperamos contribuir para a divulgação e progresso da Acarologia. Faremos isso oferecendo recursos para o treinamento de pesquisadores, com chaves de identificação dinâmicas, aulas teóricas em vídeo a respeito de diferentes tópicos associados ao nosso trabalho cotidiano e divulgação científica.</p>
    </article>
{% endblock %}